.table-balance thead{
    background-color: rgb(151, 187, 187);
}
.table-balance tbody{
    background-color: rgb(160, 252, 252);
    font-size: 2rem;
}
@media only screen and (max-width: 576px){
    .table-balance tbody{
        font-size: 1.5rem;
    }
}