footer{
    background-color: rgb(94, 126, 126);
    padding: .6rem 1rem;
    text-align: center;
    position: absolute;
    width: 100%;
}
footer a{
    text-decoration: none;
    color: white;
    margin: 0 1rem;
    font-weight: bolder;
}
footer a:hover{
    color: #A0FCFC; 
}
footer img{
    width: 1.5rem;
    margin-left: 1rem;
    transition: all 1s ease;
}
footer img:hover{
    filter: drop-shadow(0 2px 5px rgba(255, 255, 255, 0.87));
    transform: scale(1.4);
}
@media only screen and (max-width: 576px){
    footer{
        /* bottom: 0; */
    }
}